# Secrets & Environment Variables
.env
.env.local
.env.*.local

# Next.js / Frontend local files
node_modules/
.next/
out/
build/
.next-env.d.ts
bun.lockb

# .NET / Backend local files
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# OS Specific Files
.DS_Store
Thumbs.db

# Other
PROMPT.md
